#jinja2: lstrip_blocks: "True", trim_blocks: "True"


{% if os == "sros" %}

 {% if bgp is defined %}

   {% for b in bgp %}


/configure router policy-options begin
/configure router policy-options prefix-list "bgp-{{ b.group }}" prefix 4.68.14.0/23 longer
/configure router policy-options prefix-list "bgp-{{ b.group }}" prefix 4.68.30.0/23 longer
/configure router policy-options prefix-list "bgp-{{ b.group }}" prefix 4.68.32.0/22 longer
/configure router policy-options prefix-list "bgp-{{ b.group }}" prefix 4.68.36.0/24 longer
 
/configure router policy-options policy-statement "bgp-{{ b.group }}"
/configure router policy-options policy-statement "bgp-{{ b.group }}" description "Directly Attached Flow Server Import Policy"
/configure router policy-options policy-statement "bgp-{{ b.group }}" entry 5 from prefix-list "bgp-{{ b.group }}"
/configure router policy-options policy-statement "bgp-{{ b.group }}" entry 5 action next-policy
/configure router policy-options policy-statement "bgp-{{ b.group }}" entry 15 action drop

/configure router policy-options commit

   {% endfor %}
 {% endif %}
{% endif %}

{% if os == "junos" %}
  {% if bgp is defined %}
    {% for b in bgp %}
set policy-options prefix-list bgp-{{ b.group }} 4.68.14.0/23
set policy-options prefix-list bgp-{{ b.group }} 4.68.30.0/23
set policy-options prefix-list bgp-{{ b.group }} 4.68.32.0/22
set policy-options prefix-list bgp-{{ b.group }} 4.68.36.0/24
set policy-options policy-statement bgp-{{ b.group }} term flow-servers from prefix-list bgp-{{ b.group }}
set policy-options policy-statement bgp-{{ b.group }} term flow-servers then next policy
set policy-options policy-statement bgp-{{ b.group }} term reject then reject
 
   {% endfor %}
 {% endif %}
{% endif %}
