#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if os == "sros" %}

 {% if bgp is defined %}

    {% for b in bgp %}
    
/configure router bgp group "{{ b.group }}" error-handling update-fault-tolerance
/configure router bgp group "{{ b.group }}" prefix-limit ipv4 1000 post-import
/configure router bgp group "{{ b.group }}" type external
/configure router bgp group "{{ b.group }}" remove-private
/configure router bgp group "{{ b.group }}" enable-origin-validation ipv4
/configure router bgp group "{{ b.group }}" peer-as {{ b.peeras }} 
/configure router bgp group "{{ b.group }}" family ipv4
/configure router bgp group "{{ b.group }}" import "bgp-{{ b.group }}" "customer"
/configure router bgp group "{{ b.group }}" export "send-default" "none"
/configure router bgp group "{{ b.group }}" neighbor {{ b.peer }} description "{{ b.description }}"
/configure router bgp group "{{ b.group }}" neighbor {{ b.peer }} authentication-key {{ b.hash }}

    {% endfor %}
  {% endif %}

  {% endif %}

